.search-body {
  direction: rtl;
}
div::selection {
  background-color: #f64b00;
  color: #fff;
}
/*  Border & Padding & Margin  */
.b-bottom-08 {
  border-bottom: 0.8px solid #262626;
}
.b-08 {
  border: 0.8px solid #1e1e1e;
}
.bt-08 {
  border-top: 0.8px solid #262626;
}
.border-08 {
  border: 0.8px solid #f97316;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}
.p-12 {
  padding: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-32 {
  margin-bottom: 32px;
}

/*  Direction  */
.parent-search {
  direction: rtl;
}
.search-header {
  direction: rtl;
}

/*  Input  */
input {
  background-color: #161616;
  border: 0.8px solid #262626;
  color: #fff;
  transition: all 0.3s;
}
input:focus {
  outline: 2px solid #ff6b6b;
}
input::placeholder {
  color: #6a6a6a;
  opacity: 1;
}

/*  Width & Height  */
.w-20 {
  width: 20px;
}
.w-40 {
  width: 40px;
}
.w-250 {
  width: 250px;
}

.h-20 {
  height: 20px;
}
.h-40 {
  height: 40px;
}

/*  Buttons  */
.btn-head-blog {
  border: 0.8px solid #262626;
  background-color: #161616;
  color: #a1a1a1;
  transition: all 0.3s;
}
.btn-head-blog:hover {
  border: 0.8px solid #f74f00;
}

.btn-icon {
  border: 0;
  background-color: #161616;
  color: #a1a1a1;
  transition: all 0.3s;
}
.btn-icon:hover {
  color: #fff;
}

.btn-right-left {
  border: 0.8px solid #262626;
}

/*  Active Class  */
.active {
  background-image: linear-gradient(to left, #f64b00, #fc5800, #ff6600);
  color: #fff;
}

/*  Icons  */
.parent-search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #737373;
}

.search-ico-search {
  position: absolute;
  top: 5px;
  left: 15px;
}

/*  Colors  */
.bg-161616 {
  background-color: #161616;
}
.bg-gradien {
  background-color: #f464012f;
}

.color-737373 {
  color: #737373;
}
.color-a1a1a1,
.colors-a1a1a1 {
  color: #a1a1a1;
}
.color-f97200 {
  color: #f97200;
}
.color-f97316 {
  color: #f97316;
}
.color-F46401 {
  color: #f46401;
  border: 0.8px solid #592d10;
  width: 30px;
  height: 30px;
  background-color: #f973163f;
}

/*  Fonts  */
.font-12 {
  font-size: 12px;
  line-height: 16px;
}
.font-14 {
  font-size: 14px;
  line-height: 20px;
}
.font-16 {
  font-size: 16px;
  line-height: 26px;
}
.font-18 {
  font-size: 18px;
  line-height: 29px;
}
.font-20,
.font20 {
  font-size: 20px;
  line-height: 25px;
}
.font-24 {
  font-size: 24px;
  line-height: 32px;
}
.font-60 {
  font-size: 60px;
  line-height: 75px;
}

/*  Images  */
.img-recent {
  width: 36px;
  height: 36px;
}
.img-span {
  top: 10px;
  right: 20px;
}

/*  Article Hovers  */
article,
article .article-head img,
article .left-angle-span,
article .article-body h3 {
  transition: all 0.3s;
}

article:hover {
  transform: translateY(-10px);
}

article:hover .article-head {
  transform: scale(1.05);
}

article:hover .article-head img {
  transform: scale(1.2);
}

article:hover .article-body h3,
article:hover h3 {
  color: #f46401 !important;
}

article:hover .left-angle-span {
  background-color: #f97316;
  color: #fff;
}

/*  Headings  */
h2 {
  color: #fff;
}
